@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

   .search-width {
       width: 1400px;
   }
    .search-height {
        width: 600px;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
}
