@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    body{
        font-family: 'Montserrat', sans-serif;
        color: #333;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type=number] {
        -moz-appearance:textfield; /* Firefox */
    }

    /* Change the white to any color */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active
    {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #ddd;
    }
    input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #ddd;
        opacity:  1;
    }
    input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #ddd;
        opacity:  1;
    }
    input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    #ddd;
    }
    input::-ms-input-placeholder { /* Microsoft Edge */
        color:    #ddd;
    }
    input::placeholder { /* Most modern browsers support this now. */
        color:    #ddd;
    }


    .text-cut {
        overflow: hidden;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
    }
    .text-line-cut {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .text-small {
        font-size: 9px;
    }

    .text-mid-small {
        font-size: 10px;
    }

    .info-img-h {
        height: 7.5rem;
    }

   .search-width {
       width: 1400px;
   }

    .category-width {
        width: 1200px;
    }
    .search-height {
        width: 600px;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .smooth-shadow {
        box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1)
    }

    .smooth-hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }


}
